button {
	border: none;
}
.button {
	background-color: var(--blue);
	padding: 0.5rem;
	color: white !important;
	width: 10rem;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.375rem;
}
button.button:hover,
.button:hover,
a.button:hover, 
a.card-no-bg-mobile .button:hover,
a.btn-border:hover,
a.btn-border-fit:hover,
a.btn-relative-fit:hover,
a.btn-border-long:hover,
a.btn-relative-long:hover,
a.btn-bg-white:hover,
a.btn-bg-white-fit:hover {
	border: 1px solid var(--blue);
	color: var(--blue) !important;
	box-shadow: inset 260px 0 0 0 #fff;
}
.button, 
.btn-border,
.btn-border-fit,
.btn-relative-fit,
.btn-border-long,
.btn-relative-long,
.btn-bg-white,
.btn-bg-white-fit {
	box-shadow: inset 0 0 0 0 #fff;
	transition: ease-out 1s;
	border: 1px solid transparent;
}
.btn-border {
	background-color: var(--blue);
	padding: 0.5rem;
	color: white !important;
	width: 10rem;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
}
.btn-border-fit {
	background-color: var(--blue);
	padding: 0.5rem 0;
	width: 7.5rem;
	color: white !important;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
}
.btn-relative-fit {
	background-color: var(--blue);
	padding: 0.5rem 0;
	width: 6.25rem;
	color: white !important;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.375rem;
	margin-top: 1.5rem;
}
.btn-border-long {
	background-color: var(--blue);
	padding: 0.5rem 1.75rem;
	color: white !important;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
}
.btn-relative-long {
	background-color: var(--blue);
	padding: 0.5rem 1.75rem;
	color: white !important;
	text-align: center;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
}
.btn-bg-white {
	background-color: white;
	border: 1px solid var(--blue);
	border-radius: 1.5rem;
	color: var(--blue) !important;
	padding: 0.5rem 0;
	text-align: center;
	width: 8.125rem;
	font-size: 0.8125rem;
	display: block;
	margin: auto;
}
.btn-bg-white-fit {
	background-color: white;
	border: 1px solid var(--blue);
	border-radius: 1.5rem;
	color: var(--blue) !important;
	padding: 0.5rem 0;
	width: 5.5rem;
	text-align: center;
	font-size: 0.8125rem;
	display: block;
	margin: auto;
}
.button:hover, .btn-border:hover, .btn-border-fit:hover, .btn-relative-fit:hover, .btn-border-long:hover, .btn-relative-long:hover {
	color: white !important;
}
@media screen and (min-width: 768px){  
	.btn-border-fit {	
		position: absolute;
		bottom: 2rem;
		left: 50%;
	    transform: translate(-50%);
	}
	.btn-border-long {
		position: absolute;
		bottom: 2rem;
		left: 50%;
	    transform: translate(-50%);
	}
	.btn-relative-fit {
		width: 7.5rem;
	}
}