.employ-content {
	position: relative;
}
.form-search-job {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	margin: auto;
}
.form-search-job div {
	display: flex;
	justify-content: space-between;
}
.form-search-job div:first-child .input-box {
	width: 49%;
}
.form-search-job div:last-child .input-box {
	flex: 1;
	margin-right: 0.625rem;
}
.form-search-job div a {
    padding: 0.8rem;
    height: fit-content;
    background: var(--blue);
    border-radius: 0.5rem;
    color: white;
}
.card-job-title.has-share {
    display: flex;
    justify-content: space-between;
}
.card-job-title__button {
    display: flex;
    align-items: center;
}
.card-job-body {
	margin-bottom: 0 !important;
}
.card-job-body .item {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
}
.card-job-body .item .item__right {
	margin-left: auto;
}
.card-job-body .item .item__right a{
	width: fit-content;
	padding: 0.2rem 0.75rem;
}
.card-job-body .item img{ 
	margin-right: 0.25rem;
}
.card-job-title  h3.title {
	margin-bottom: 1rem;
}
.card-job-top {
	padding-bottom: 1rem;
	border-bottom: 1px solid #D8D8D8;
}
.card-job-top a {
	margin-top: 1rem;
}
.benefit-content .row .col-6 {
	display: flex;
	align-items: center;
}
.benefit-content .row .col-6 img {
	margin-right: 0.25rem;
}
.card-job-right {
	padding: 0;
    margin-top: 1rem;
}
.card-job-right .m-card {
	margin-top: 0.625rem;
}
.card-job-bottom {
	margin-top: 0.625rem;
}
.sendcv-content h3.title {
	margin-top: 0.875rem;
}
input[type='file']{
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 2;
	padding: 8px;
	position: relative;
}
.custom-input-file {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    height: 3rem;
    margin-bottom: 3px;
}
.file-upload-label, .text-input-label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 36px;
    font-size: 13px;
    line-height: 48px;
    color: #827C7C;
}
.sendcv-content textarea {
	margin-bottom: 0;
}
@media screen and (min-width: 768px) {
	.sendcv-content {
		background-color: var(--white);
		border: 1px solid #E0E0E0;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
		border-radius: 0.5rem;
		padding-top: var(--card-padding-top);
		padding-bottom: var(--card-padding-bottom);
		padding-left: var(--card-padding-left);
		padding-right: var(--card-padding-right);
	}
	.m-card.card-job-left {
		padding-left: var(--card-padding-left);
		padding-right: var(--card-padding-right);
	}
	.form-search-job {
		flex-direction: row;
		width: 100%;
	}
	.form-search-job {	
		position: absolute;
		top: -11.2rem;
    	padding-top: 0.5rem;
	}
	.m-card.employ a.is-desktop {
		display: block;
		margin-left: ;
	}
	.form-search-job div {
		width: 100%;
	}
	.form-search-job > div:first-child {
		margin-right: 0.5rem;
	}
	.form-search-job div:first-child .input-box {
		width: 47%;
	}
	.form-search-job > div:last-child {
		margin-left: 0.5rem;
	}
	.form-search-job div:last-child .input-box{
		width: 47%;
		flex: none;
	}
	.form-search-job div a {
    	padding: 0.7rem;
    	background-color: white;
    	color: var(--blue);
    	font-weight: 500;
    	text-align: center;
    }
    .form-search-job .input-box-default {
    	background-color: transparent;
    	color: white;
    }
    .form-search-job .input-box-default::placeholder {
    	color: white;
    }
    .form-search-job .input-box select {
    	color: white;
    }
    .form-search-job .input-box option {
    	color: black;
    }
    .card-job-image img {
    	width: 6.0625rem;
    	height: 6.0625rem;
    	border-radius: 0.5rem;
    }
    .card-job-top {
    	display: flex;
    	position: relative;
    }
    .card-job-bottom {
		margin-top: 1.5rem;
	}
	.card-job-top a {
		transform: initial;
		left: inherit;
		right: 0;
		bottom: 1rem;
	}
	.card-job-top-right {
		margin-left: 1.5rem;
	}
	.form-search-job a {
		width: 47%;
	}
	.benefit-content {
		margin-bottom: 1rem;
	}
	.card-job-right {
		padding-left: 1.875rem;
	}
	.file-upload-label, .text-input-label {
	    padding-left: 3.5rem;
	}
}
@media screen and (min-width: 992px) {
	.form-search-job {	
		top: -16rem;
		padding-top: 1.875rem;
	}
	.form-search-job div:last-child .input-box{
		width: 47%;
		margin-left: 1.875rem;
	}
	.card-job-bottom {
		margin-top: 1.875rem;
	}
	.card-job-top-right {
		margin-left: 1.875rem;
	}
	.form-search-job a {
		width: initial;
	}
}