select {
	-webkit-appearance: none;
	/*webkit browsers */
	-moz-appearance: none;
	/*Firefox */
	appearance: none;
}
input[type='file']{
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 2;
	padding: 8px;
	position: relative;
}
.custom-input-file {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    height: 3rem;
    margin-bottom: 3px;
}
.file-upload-label, .text-input-label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 36px;
    font-size: 13px;
    line-height: 48px;
    color: #827C7C;
}
.search-box{
	position: relative;
	margin-left: 20px;
}
.inputSearch{
	position: relative;
	height: 48px;
	width: 190px;
	padding-left: 40px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 16px;
	background: #F6FAFA;
	opacity: 0.4;
	border: 1px solid #878DA4;
	border-radius: 8px;
}
.inputSearch:focus{
	outline: none;
}
.searchIcon {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 14px;
	top: 14px;
}
/* Menu List*/
.menu-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: -2px;
	background-color: #0063af;
	width: 100%;
	height: 77px;
}
.menu-list-item {
	height: 40px;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	line-height: 20px;
}
.menu-list-item.active {
	background-color: white;
}
.menu-list-item.active a{
	color: #237BD3;
	font-weight: 600;
}
.menu-list-item a {
	color: white;
}
/*form search job*/
.form-search-job {	
	position: relative;
	top: -100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding-top: 30px;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	max-width: 1140px;
	margin: auto;
}
.form-search-job-data{
	flex: 1;
	display: flex;
}
.input-search-job{
	position: relative;
	height: 48px;
	width: 284px;
	padding-left: 16px;
	padding-right: 36px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 14px;
	background-color: rgba(0, 1, 4, 0.181764);
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	color: white;
	z-index: 2;
}
.input-search-job::placeholder {
	color: white;
}
.input-search-job:focus{
	outline: none;
}
select.input-search-job option {
    background: white;
    color: black;
}
.search-job-box{
	position: relative;
	margin-right: 30px;
}
.search-job-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	right: 10px;
	top: 14px;
}

/* card job */
.employ-content .content-body {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 0.625rem;
}
.m-card.employ {
	padding: 1rem 0.75rem;
}
.card-sendcv {
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding: 2rem 14rem;
}
/* validation form */
.text-note {
    float: right;
    font-style: italic;
    font-size: 13px;
}
.text-note-invite {
    float: right;
    font-style: italic;
    font-size: 13px;
}
label.error {
    color: red;
    font-style: italic;
    font-size: 0.9rem;
}
input[type='text'].error {
	margin-bottom: 3px;
}
textarea.input-box-data {
	margin-bottom: 0;
}