@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*===== FONT-FACE =====*/
@font-face {
	font-family: SFUIText;
	src: url(font/SF-UI-Text-Regular.ttf);
}

/*===== VARIABLE CSS =====*/
:root {
	--header-height: 2.875rem;
}

/*===== FONT =====*/
:root{
	--body-font: 'SFUIText', sans-serif;
	--bigest-font-size: 2rem;
	--biger-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--smallest-font-size: 0.8125rem;
	--smaller-font-size: 0.875rem;
	--biger-font-weight: 500;
}

/*===== COLORES =====*/
:root {
	--blue: #237BD3 !important;
	--white: #FFFFFF !important;
	--gray: #DDDDDD !important;
	--body-color: #666666 !important;
};

/*===== BASE =====*/
*{
	padding: 0;
	margin: 0;
  	box-sizing: border-box;
}
html{
  	scroll-behavior: smooth;
}
body{
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--body-color);
}
h1,h2,p{
  	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
 	text-decoration: none !important;
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
.inner {
	max-width: 73.125rem;
	width: 100%;
	margin: auto;
}
/*===== CLASS CSS =====*/
.header.is-mobile {
	background-color: var(--blue);
	height: var(--header-height);
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 100%;
}
.nav div {
	margin: 1rem;
}
.nav-menu{
	position: fixed;
	top: 0;
	left: -100%;
	width: 20rem;
	height: 100%;
	z-index: 100;
	background-color: var(--white);
	font-size: var(--smallest-font-size);
	font-weight: var(--biger-font-weight);
	transition: 0.5s;
}
.nav-user {
	height: 5.75rem;
	border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 1rem;  
	margin-left: 0.75rem;
}
.nav-user a {
	padding: 0.3125rem 0.67875rem;
	border: 1px solid var(--blue);
	margin-right: 0.75rem;
	border-radius: 1.5rem;
	width: 6.125rem;
	text-align: center;
}
.nav-list {
	font-size: var(--smaller-font-size);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.nav-item {
	line-height: 2rem;
	padding-top: 0.75rem;
    padding-bottom: 0.75rem;
	color: #333333;
}
.nav-item.has-border {
	border-bottom: 1px solid var(--gray);
	padding-bottom: 0.75rem;
}
.nav-toggle {
	cursor: pointer;
}
/*=== HEADER DESKTOP ===*/
.header.is-desktop .inner {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	height: 6.5rem;
	padding: 28px 0;
}
.header-items {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-item {
	margin-left: 3.125rem;
}
.search-box{
	position: relative;
	margin-left: 3.125rem;
}
.inputSearch{
	position: relative;
	height: 48px;
	width: 190px;
	padding-left: 40px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 16px;
	background: #F6FAFA;
	opacity: 0.4;
	border: 1px solid #878DA4;
	border-radius: 8px;
}
.inputSearch:focus{
	outline: none;
}
.searchIcon {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 14px;
	top: 14px;
}
/*=== END HEADER DESKTOP ===*/
.m-card {
	background-color: var(--white);
	border: 1px solid #E0E0E0;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
}
.m-card.mobile-service, .m-card.service  {
	min-width: 19.25rem;
	width: 100%;
}
.m-card.mobile-service {
	padding: 1.125rem 1.3125rem 1.0625rem 1.5rem;
}
.m-card.service .m-card-body, 
.m-card.events .m-card-body {
	padding: 1.125rem 1.3125rem 1.0625rem 1.25rem;
}
.m-card.service .m-card-body {
	padding-top: 0;
}
.m-card.mobile-service .title {
	padding-bottom: 1rem;
}
.m-card.service .title {
	padding-top: 1.0625rem;
	padding-left: 1.25rem;
	padding-bottom: 0.6875rem;
}
.m-card.events .title {
	font-size: 0.75rem;
	line-height: 1.5625rem;
	color: var(--blue);
	margin-bottom: 0;
	padding: 0.625rem 0 0 1rem;
}
.m-card.events .m-card-body {
	padding: 0 0 0 1rem;
	line-height: 1.3125rem;
}
.mobile-service-content, .service-content, .events-content, .customer-content {
	padding: 0.75rem;
}
.m-card.events .time {
	font-size: 0.75rem;
	line-height: 1.375rem;
	text-align: right;
	padding-bottom: 0.375rem;
	padding-right: 1rem;
}
h2.title {
	font-size: 0.875rem;
	color: #0F1C49;
	text-transform: uppercase;
	padding-bottom: 0.9375rem;
	margin-bottom: 0;
}
h1.title {
	font-size: 1.125rem;
	line-height: 2.375rem;
	color: #0F1C49;
	align-items: center;
	margin-bottom: 0;
}
.m-card-detail {
	border: 1px solid #237BD3;
	border-radius: 24px;
	width: 4.25rem;
	height: 1.75rem;
	text-align: center;
	margin-left: auto;
	overflow: hidden;
}
.m-card-detail a {
	font-size: var(--smallest-font-size);
	color: var(--blue);
	font-weight: 500;
}
.content-footer {
	font-size: var(--smaller-font-size);
	font-weight: 500;
	line-height: 1rem;
	color: var(--blue);
	margin-top: 0.75rem;
}
.content-footer a {
	border-bottom: 1px solid var(--blue);
}
.m-card.event-nd {
	height: 7.5rem;
	display: flex;
	margin-top: 0.625rem;
}
.m-card.event-nd .event-image img {
	width: 9.25rem;
}
.event-nd-content {
	width: 100%;
	padding: 0.75rem 1rem 0 0.875rem;
	position: relative;
}
.event-nd-content .content {
	font-size: 0.875rem;
	line-height: 1.3125rem;
	font-weight: 500;
	color: #0F1C49;
	margin-bottom: 0;
}
.m-card.event-nd .time {
	font-size: 0.75rem;
	line-height: 1.6rem;
	text-align: right;
	margin-bottom: 0;
	position: absolute;
	bottom: 0.75rem;
	right: 0.75rem;
}
.m-card.customer{
	max-height: 10.5625rem;
	position: relative;
}
.m-card.customer .customer-content {
	text-align: center;
	color: #3E3E58;
	font-size: 0.875rem;
	line-height: 1rem;
	font-weight: 500;
    bottom: -0.75rem;
    width: 100%;
}
.customer-content .content-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.75rem;
}
.m-card.customer .customer-img {
	padding: 1rem;
}
.m-card.customer .customer-img img {		
	max-height: 6.125rem;
}
.content-header {
	display: flex;
}
/*=== FOOTER ===*/
.footer {
	background-color: #0E418A;
	padding-left: 0.75rem;
	padding-right: 1.5625rem;
}
.footer-row {
	display: flex;
	flex-direction: column;
}
.footer-row .sign {
	font-size: var(--smaller-font-size);
	line-height: 1.3125rem;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 1rem;
}
.footer-img img{
	width: 7.0625rem;
	margin-top: 1.25rem;
}
.social-media {
	display: flex;
}
.social-media .icon {
	margin-right: 2rem;
	width: 1.125rem;
}
.line {
	background-color: rgba(255, 255, 255, 0.2);
	height: 1px;
	margin-top: 1rem;
}
.footer-row .info {
	display: flex;
}
.footer-row .info img{
	width: 1rem;
	margin-top: 0.2rem;
	margin-right: 0.5rem;
}
.footer-row .info {
	font-size: var(--smaller-font-size);
	line-height: 1.3125rem;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 1rem;
}
.footer-row .info-last{
	padding-bottom: 0.75rem;
}
.footer-last {
	font-family: Rubik, sans-serif;
	background: #103365;
	text-align: center;
	line-height: 1.5rem;
	color: rgba(255, 255, 255, 0.6);
	font-size: var(--smaller-font-size);
	padding: 0.75rem;
}

/*=== Show menu ===*/
.show{
  left: 0;
}
/*===== MEDIA QUERY =====*/
@media screen and (max-width: 767px){
	.is-desktop {
		display: none;
	}
}
@media screen and (min-width: 768px){
	h2.title, h1.title {
		font-size: 1.5rem;
	}
	.header.is-desktop .inner {
		display: flex;
		padding: 0 0.5rem;
	}
	.is-mobile {
		display: none;
	}
	.nav-list {
		display: flex;
	}
	.carousel.is-desktop {
		display: block;
		margin-top: -1px;
	}
	.header-menu.is-desktop {
		height: 4.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--blue);
	}
	.nav-list {
		margin: 0;
	}
	.nav-list li .nav-item {
		color: white;
		padding: 0;
		padding: 0.5rem;
		margin: 1.25rem;
		font-weight: var(--biger-font-weight);
	}
	.nav-list li .nav-item.active, .nav-list li .nav-item:hover {
		background-color: white;
		color: var(--blue);
		border-radius: 0.5rem;
	}
	.content-header h2, .content-header p {
		line-height: 1.75rem;
		margin-right: 4rem;
	}
	.content-header p {
		border-bottom: 1px solid var(--blue);
	}
	.content-header .all {
		position: absolute;
		right: 0;
		font-size: var(--smaller-font-size);
		line-height: 2rem;
	}
	.content-header {
		margin-top: 2.8rem;
		margin-bottom: 1rem;
		position: relative;
	}
	.service-content .content-body, .mobile-service-content .content-body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1.875rem;
	}
	.events-content .content-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3.375rem;
		grid-row-gap: 1rem;
	}
	.m-card.events {
		grid-row-start: 1;
		grid-row-end: 4; 
	}
	.m-card.event-nd {
		margin-top: 0;
	}
	.customer-content .content-body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 3.5rem;
	}
	.m-card.customer {
		max-height: 17.8rem;
		height: 100%;
	}
	.m-card.customer .customer-img {
		padding: 1.75rem 1.125rem;
	}
	.m-card.customer .customer-img img {		
		max-height: 9.6rem;
	}
	.m-card.customer .customer-content {
		margin-bottom: 1.5rem;
		padding: 0;
		position: relative;
	}
	.mobile-service-content, .service-content, .events-content, .customer-content {
		padding: 0;
	}
	.footer {
		margin-top: 4.5rem;
		padding: 0;
		padding-top: 1.8125rem;
		display: flex;
	}
	.footer-row.is-desktop {
		display: flex;
		flex-direction: row;
		color: #BDD3F2;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 4rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.footer-column-first .column-item-first {
		color: white;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 2rem;
		padding-top: 1.5rem;
	}
	.footer-column-first a {
		color: #BDD3F2;
		font-size: 1rem;
		line-height: 1.5rem;		
		padding-top: 0.5rem;
		font-weight: 400;
	}
	.footer-column .column-item-first {
		color: white;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 2rem;
		padding-top: 1.5rem;
	}
	.column-item-first {
		padding-bottom: 0.75rem;
	}
	.footer-column a {
		color: #BDD3F2;
		font-size: 1rem;
		line-height: 1.5rem;
		padding-top: 0.5rem;
		font-weight: 400;
	}
	.social-media .icon {
		width : 1.5rem;
		padding-top: 4rem;
	}
	.footer-row-mobile {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-top: 0.5rem;
		margin-bottom: 3.1275rem;
	}
	.footer-row-mobile .right {
		max-width: 28rem;
		width: 100%;
	}
	.footer-row .sign {
		font-weight: 400;
		line-height: 1.3125rem;
		font-size: 1rem;
	}
	.footer-img img {
		height: 1.125rem;
		float: right;
	}
	.footer-row .info {
		font-size: 1rem;
	}
}