#introduction-menu {
	display: flex;
	overflow-x: auto;
	margin-bottom: 0;
}
#introduction-menu li {
	margin-right: 3rem;
	white-space: nowrap;
}
#introduction-menu li h3{
	line-height: 1.75rem;
}
#introduction-menu::-webkit-scrollbar {
	width: 0;
}
#partner-menu{
	display: flex;
	overflow-x: auto;
}
#partner-menu::-webkit-scrollbar {
	/*width: 0;*/
}
#partner-menu {
	background: #EEEEEE;
	border: 1px solid #E0E0E0;
    padding: 0.75rem;
    margin: 0 -0.5rem;
    margin-top: 0.5rem;
}
#partner-menu li {
	background: #FFFFFF;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.145214);
	border-radius: 0.375rem;
	padding: 0.625rem;
	margin-right: 1rem;
	font-size: 0.875rem;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}
ul#partner-menu li.active {
	background-color: var(--blue);
	color: white;
}
.introduction-body {
	background-color: white;
	margin-left: -0.5rem;
	margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #E0E0E0;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
}
.table {
	min-width: 73.125rem;
	margin-bottom: 0 !important;
}
.table-content {
	margin: 0 -0.5rem;
	overflow-x: auto;
}
.table-content.active {
	display: block;
}
.table-content.hidden {
	display: none
}
.table-content::-webkit-scrollbar {
	width: 0
}
#carouselIntroduction img {
	max-width: 56.25rem;
	margin: auto;
}
#carouselIntroduction .carousel-indicators {
	position: relative;
}
#carouselIntroduction .carousel-indicators li {
	background: #E1E1E1;
}
#carouselIntroduction .carousel-indicators li.active {
	background: var(--blue);
}
.other-introduction .content-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 0.8125rem;
	grid-column-gap: 0.75rem;
	margin-top: 0.75rem;
}
.other-introduction .m-card.customer {
	position: relative;
}
.other-introduction .m-card.customer .customer-img img {
	width: auto;
	height: 4.875rem;
}
.other-introduction .m-card.customer .customer-img {
	padding-bottom: 4rem;
}
.other-introduction .m-card.customer .customer-content {
	position: absolute;
	bottom: 0.5rem;
}
.table tr:first-child th {
	border-top: none;
}
.table th, td {
	border-top: 2px solid #d6d6d6 !important;
	border-right: 2px solid #d6d6d6;
}
.table thead th {
	border-top: none !important;
}
.table th:last-child {
	border-right: none;
}
.table td:last-child {
	border-right: none;
}
.table .job-def {
	font-size: 0.875rem;
	font-style: italic;
}
.introduction-content .table tr {
	height: 6rem;
}
.introduction-content .table thead tr:first-child {
	height: 3.75rem;
	text-align: center;
}
.introduction-content .table tbody tr td:nth-child(1), td:nth-child(2) {
	text-align: center;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0) !important;
}
.table-striped tbody tr:nth-of-type(2n) {
    background-color: #F4F4F4 !important;
}
@media screen and (min-width: 768px){
	.table-content {
		margin: 0;
	}
	#introduction-menu {
		left: 0;
	}
	.introduction-body{
		padding-top: 1.5rem;
		margin: 0;
		margin-top: 2rem;
		border-radius: 1.125rem;
	}
	.other-introduction .content-body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 1.875rem;
		grid-column-gap: 2.25rem;
		margin-top: 4.5rem;
	}
	.other-introduction .m-card.customer .customer-img {
		padding-bottom: 5rem;
	}
	.other-introduction .m-card.customer .customer-img img {
		height: 5.75rem;
	}
	#partner-menu {
		display: flex;
		background: #EEEEEE;
		border: 1px solid #E0E0E0;
		border-radius: 1.125rem;
		justify-content: space-between;
	    padding: 0.75rem;
	    margin: 0;
	    margin-top: 1.5rem;
	}
	#partner-menu li {
		font-size: 1rem
	}
	.introduction-content .table tr {
		height: 6.25rem;
	}
	.introduction-content .table thead tr:first-child {
		height: 4.5rem;
		text-align: center;
	}
	.table {
		margin: 3.875rem 0 0 0;
		min-width: initial;
	}
	.table thead th:first-child {
		border-top-left-radius: 1.125rem;
	}
	.table thead th:last-child {
		border-top-right-radius: 1.125rem;
	}
}
@media screen and (min-width: 992px){
	#partner-menu { 
		padding: 1.5rem;
	}
	#partner-menu li { 
		width: 30%;
	}
	.other-introduction .m-card.customer .customer-img img {
		height: 9.125rem;
	}
}