#news-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
#news-pagination ul a li{
	padding: 1px 6px;
	height: 100%;
}
#news-pagination ul a li.active{
	border: 1px solid #237BD3;
	border-radius: 3px;
}
#news-pagination ul a li img{
	height: 100%;
}
#news-pagination ul a{
	padding: 0.5rem;
	margin: 0.5rem;
}