.m-card.using-pack {
	padding: 0.75rem 1.125rem;
	position: relative;
}
.pack-items li {
	display: flex;
	position: relative;
	line-height: 1rem;
	margin-top: 1rem;
}
.pack-items li .value {
	position: absolute;
	right: 0;
	color: var(--blue);
	font-weight: 500;
}
.pack-items li .is-desktop {
	display: none;
}
.pack-items li img {
	margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.package-content {
	margin-top: 1.5rem;
}
.package-content .lSPager.lSpg {
	display: none
}
.pack-charge {
	color: var(--blue);
	font-weight: 500;
}
.pack-title {
	font-size: 1.25rem;
	font-weight: 500;
}
.pack-charge {
	margin-top: 0.5625rem;
	font-size: 1.25rem
}
.package-content .m-card {
	padding: 1.0625rem 1.5rem;
}
.package-content .m-card .m-card-body {
	padding-top: 1.0625rem;
}
.package-content .m-card .m-card-body li {
	line-height: 1.5rem;
}
.using-pack.service-pack {
	padding: 0;
}
.using-pack__img {
	border-radius: 0.5rem 0.5rem 0 0;
	margin-top: -1px;
}
.package-content .m-card-header {
	height: 5.625rem;
	border-bottom: 1px solid var(--gray);
	position: relative;
}
.using-pack__name {
	display: flex;
	align-items: center;
}
.using-pack__name .pack-thumb{
	margin-right: 1rem;
}
.using-pack__name .name {
	margin: auto;
	margin-left: 1rem;
}
.using-pack__right {
	padding: 1.25rem 1rem;
}
#js-service-pack .m-card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
    height: auto;
}
#js-service-pack .m-card-header a{
	padding-bottom: 0;
	position: relative
}
.m-card.using-pack.service-pack .using-pack__name {
	margin-bottom: 1rem;
}
.m-card.using-pack.service-pack .using-pack__img {
    object-fit: contain;
    object-position: top;
}
.m-card.create-pack-card {
	padding-top: var(--card-padding-top);
    padding-bottom: var(--card-padding-bottom);
    padding-left: var(--card-padding-left);
    padding-right: var(--card-padding-right);
}
ul.list-face-value {
	display: flex;
	align-items: center;
}
ul.list-face-value .list-face-value-wrap{
	display: flex;
	flex: 1;
	justify-content: space-between;
}
ul.list-face-value li.face-value {
    width: 30%;
    height: 3.125rem;
    line-height: 2rem;
}
ul.list-face-value li.face-value:last-child {
	margin-right: 0 !important;
}
ul.list-face-value li.face-value.active {
	line-height: 2rem;
}
ul.list-pack-detail {
	max-width: 33.375rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    margin-top: 1.5rem;
}
ul.list-pack-detail li.pack-detail-item {
	border-right: 1px solid #D8D8D8;
	width: 33.33333%;
}
ul.list-pack-detail li.pack-detail-item .value {
	color: var(--blue);
	font-weight: 500;
	padding-top: 0.875rem;
}
ul.list-pack-detail li.pack-detail-item:last-child {
	border-right: 0;
}
.pack-range-value {
	max-width: 33.375rem;
	margin: auto;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
ul.list-dots {
	display: flex;
	justify-content: space-between;
}
ul.list-dots li.dot {
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 50%;
	background-color: #B2BCC8;
}
#slider-range span {
	background: url(../source/image/i_slide_move.svg);
    background-position: center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: -0.6rem;
    outline: none;
}
#slider-range .ui-widget-header {
	background: #0EA3F9;
}
.package-content a.create-pack {
	text-transform: uppercase;
}
.slider2 .m-card.lslide {
	display: flex;
	flex-direction: column;
	position: relative;
}
.slider2 .m-card.lslide > div {
	display: flex;
}
.slider2 .m-card.lslide .pack-items {
	display: flex;
	flex-direction: column;
}
.slider2 .m-card.lslide .progress {
	margin-top: 3rem;
    margin-left: 0;
}
.slider2 .pack-items li:nth-of-type(2n) {
    margin-left: 0;
}
.slider2 .pack-title {
	position: absolute;
    top: var(--card-padding-top);
    left: var(--card-padding-left);
}
@media screen and (min-width: 768px){
	.using-pack-content .content-header {
		margin-top: 0;
	}
	.package-content .lSPager.lSpg {
		display: block
	}
	.pack-title {
		font-size: 1.25rem;
		font-weight: 500;
	}
	.m-card.using-pack {
		padding: 1.5rem 2.25rem;
	}
	.user-info-content .pack-items span.is-desktop {
		display: none;
	}
	.m-card.using-pack .pack-items li .value {
		position: relative;
		padding-left: 0.25rem;
		color: #666666;
	}
	.m-card.using-pack .pack-items .is-desktop{
		display: block;
	}
	.pack-items li:nth-of-type(2n) {
		margin-left: -5rem;
	}
	.pack-items {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.using-pack .btn-border {
		position: absolute;
		top: 2rem;
		right: 2rem;
		background-color: white;
		border: 1px solid var(--blue);
		border-radius: 1.5rem;
		color: var(--blue) !important;
		padding: 0.5rem 0;
		width: 8.125rem;
		text-align: center;
		font-size: 0.8125rem;
	}
	.package-content .m-card-header {
		height: 5.625rem;
		border-bottom: 1px solid var(--gray);
		position: relative;
	}
	.package-content .m-card-header .state {
		font-style: italic;
		color: #666666;
		font-size: 1rem;
	}
	.package-content .m-card-header a{
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.8125rem;
		line-height: 2.5rem;
	}
	.using-pack.service-pack {
		display: flex;
	}
	.using-pack__img {
		max-width: 30.625rem;
		border-radius: 0;
		padding: 1.25rem 1rem;
	}
	.m-card-header .title {
		padding-right: 4rem;
	}
	#js-service-pack {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
	}
	/*ul.list-face-value {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #D8D8D8;
	    margin: 0 6rem;
	    padding-bottom: 1.5rem;
	}
	ul.list-face-value li.face-value {
		margin-right: 2rem !important;
		margin-top: 1rem;
	    width: 7.5rem;
	    height: 3.125rem;
	    line-height: 2rem;
	}
	ul.list-face-value li.face-value:last-child {
		margin-right: 0 !important;
	}
	ul.list-face-value li.face-value.active {
		line-height: 2rem;
	}*/
	ul.list-pack-detail {
		max-width: 33.375rem;
	    display: flex;
	    justify-content: space-between;
	    margin: auto;
	    text-align: center;
	    margin-top: 1.5rem;
	}
	ul.list-pack-detail li.pack-detail-item {
		border-right: 1px solid #D8D8D8;
		padding: 1rem 1.25rem;
		width: 33.33333%;
	}
	ul.list-pack-detail li.pack-detail-item .value {
		color: var(--blue);
		font-weight: 500;
		padding-top: 0.875rem;
	}
	ul.list-pack-detail li.pack-detail-item:last-child {
		border-right: 0;
	}
	ul.list-face-value {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #D8D8D8;
	    padding-bottom: 1.5rem;
	    max-width: fit-content;
    	margin: auto;
	}
	ul.list-face-value li.face-value {
		margin-right: 2rem !important;
		margin-top: 1rem;
	    width: 7.5rem;
	    height: 3.125rem;
	    line-height: 2rem;
	}
	ul.list-face-value li.face-value:last-child {
		margin-right: 0 !important;
	}

	ul.list-face-value li.face-value:last-child {
		margin-right: 0 !important;
	}
	ul.list-face-value li.face-value.active {
		line-height: 2rem;
	}
	ul.list-pack-detail li.pack-detail-item {
		border-right: 1px solid #D8D8D8;
		padding: 1rem 1.25rem;
		width: 33.33333%;
	}
	.package-content a.create-pack {
		margin-bottom: 2.875rem;
	}
	.slider2 .m-card.lslide .progress {
		margin: 3.1875rem 3.375rem 0 1rem;
	}
	.slider2 .m-card.lslide .pack-items {
		margin-top: 2.5rem;
	}
	.slider2 .m-card.lslide .btn-border {
		margin: 0;
	    margin-left: auto;
	    background: white;
	    color: #237BD3;
	    background: white;
	    border: 1px solid #237BD3;
	    border-radius: 1.5rem;
	    padding-left: 3rem;
	    padding-right: 3rem;
	    font-size: var(--smallest-font-size);
	}
}
@media screen and (min-width: 992px){
	.package-content .m-card-header {
		height: 5.8125rem;
	}
	#js-service-pack {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.875rem;
		grid-row-gap: 1.875rem;
	}
}