.m-card.user-info .avatar {
	width: 4.25rem;
	margin: 1rem auto;
}
.m-card.user-info {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	line-height: 1.3125rem
}
.m-card.user-info .btn-bg-white-fit {
	margin-top: 1rem;
}
.account-balance-list-items {
	display: flex;
}
.user-info-content .m-card {
	margin-bottom: 0.625rem;
}
li.account-balance-item {
	width: 33.333%;
	border-right: 1px solid #B2BCC8;
	padding: 0.5rem;
    text-align: center;
}
li.account-balance-item:last-child {
	border-right: none;
}
.account-balance-more {
	margin-top: 0.5rem;
	display: flex;
}
.using-pack-data-info {
	display: flex;
}
.pack-items {
    margin: auto;
}
.m-card.using-pack-data a {
	margin-top: 1.5rem;
}
.m-card.using-pack-data .pack-items li {
	margin-left: 0;
}
.other-mymobifone .m-card.customer {
	max-height: none;
}
.other-mymobifone .m-card.customer .customer-content {
	position: relative;
	bottom: -0.25rem;
}
.other-mymobifone .m-card.customer .customer-img {
    padding-bottom: 0.125rem;
}
.other-mymobifone .content-body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: var(--card-column-gap);
	grid-row-gap: var(--card-row-gap);
	margin-top: 1.5rem;
}
.user-info-content .carousel-inner {
	overflow: visible;
}
.user-info-content ol.carousel-indicators {
	bottom: -1.5rem;
}
.user-info-content ol.carousel-indicators li.active {
	background: #91A3B8;
}
.user-info-content ol.carousel-indicators li {
	background: #D8D8D8;
	width: 0.4rem;
	height: 0.4rem;
}
.other-mymobifone .m-card.customer .customer-img img {
	max-height: 4.6rem;
}
.other-mymobifone .using-pack__img {
	padding: 0;
}
.user-info-content-right .m-card.no-pack {
	position: relative;
}
.user-info-content-right .m-card.no-pack .des{ 
	text-align: center;
	padding-top: 4rem;
}
.user-info-content-right .m-card.no-pack img {
	margin: auto;
}
.m-card.user-post-paid-info {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
}
.info-items {
	display: flex;
}
.point {
	color: var(--blue);
	font-weight: 500;
	font-size: 1.25rem;
}
.info-item-list {
	align-items: center;
    margin: auto 1rem;
}
.m-card.user-post-paid-info a{
	margin-right: 0;
}
.info-left .m-card.user-post-paid-info h3.title {
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	border-top: 1px solid #E0E0E0;
}
.m-card.user-post-paid-info .price {
	color: var(--blue);
	font-weight: 500;
	font-size: 1.5rem
}
.m-card.user-post-paid-info .time {
	display: flex;
	align-items: center;
	justify-content: flex-end;
    flex: 1;
    padding-bottom: 0;
}
.info-right .user-post-paid-info ul {
	display: flex;
	flex-direction: column;
}
.info-right .user-post-paid-info a {
	margin: auto;
	margin-top: 1.5rem;
}
.info-right .user-post-paid-info ul li {
	display: flex;
	justify-content: space-between;
}
.user-post-paid-info-content .info-right {
	margin-top: 0.625rem;
}
.m-card.check h3.title {
	margin-bottom: 1.5rem;
}
.m-card.check .btn-border {
	margin-top: 1rem;
}
li.card-item {
	border-bottom: 1px solid #E0E0E0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
li.card-item:last-child {
	border-bottom: none;
}
li.card-item .btn-bg-white-fit{
	margin-right: 0;
}
.m-card.check {
	margin-top: 0.625rem;
}
ul.list-items {
	border-top: 1px solid #D8D8D8;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
ul.list-items li {
	display: flex;
	align-items: center;
}
ul.list-items li img {
	margin-right: 1rem;
}
ul.menu-list-items {
	display: flex;
	justify-content: space-between;
}
ul.menu-list-items li {
	display: flex;
	flex-direction: column;
	width: 12.5%;
	align-items: center;
}
ul.menu-list-items li p{
	text-align: center;
	padding-top: 0.75rem;
}
ul.menu-list-items li .menu-item__thumb {
	width: 3rem;
	height: 3rem;
	border: 0.5px solid #E5E5E5;
	background-color: white;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.111045);
	border-radius: 1rem;
	cursor: pointer;
}
ul.menu-list-items li .menu-item__thumb img {
	width: 1.25rem;
    height: inherit;
    margin: auto;
}
ul.menu-list-items li.active .menu-item__thumb {
	background-color: var(--blue);
}
ul.give-list-items li img {
	width: 7.5rem;
	margin-right: 1.5rem;
}
ul.give-list-items li.give-item {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid #D8D8D8;
}
ul.give-list-items li.give-item img.icon-small {
	margin: auto;
    margin-right: 0;
    margin-left: auto;
}
.gift-header .m-card {
	display: flex;
	flex-direction: column;
}
.gift-header__top-left {
	display: flex;
	padding-bottom: 1rem;
	border-bottom: 1px solid #D8D8D8;
}
.gift-header--no-available {
	display: flex;
	padding-top: 1rem;
}
.gift-header .m-card .gift-header__top-left img {
	width: 5rem;
	margin-right: 1rem;	
}
.gift-header--no-available img {
	width: 4.25rem;
	margin-right: 1rem;
    margin-left: 0.75rem;
}
.gift-header__top-left ul .name {
	font-weight: 500;
}
.gift-content .m-card {
	margin-top: 0.625rem;
}
.gift-header .gift-header__top-email {
	background: white;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}
.gift-header .gift-header__top-email a {
	line-height: 1.75rem;
}
.gift-header .gift-header__top-email .input-box select{
	margin: 0;
}
.change-point .grid-two-column {
	margin-top: 0.625rem;
}
.change-point .grid-two-column .text-note {
	font-style: italic;
}
.change-point .grid-two-column ul.list-space {
	margin-top: 1.5rem;
}
.change-point .grid-two-column ul.list-space li {
	padding: 1.5rem 0;
	border-top: 1px solid #D8D8D8;
	margin-top: 0;
	line-height: 1.875rem;
}
.change-point .grid-two-column ul.list-space li:last-child {
	border-bottom: 1px solid #D8D8D8;
}

/*=== crement button ===*/
.list-space .input .count {
    color: #000;
    font-weight: 500;
    padding: 0 2px;
    margin: 0 1.125rem;
    min-width: 35px;
    text-align: center;
}
.list-space .input .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #237BD3;
}
.list-space .input .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #237BD3;
}
.list-space .input .minus:hover{
    background-color: #717fe0 !important;
}
.list-space .input .plus:hover{
    background-color: #717fe0 !important;
}
.list-space .input input{  
    border: 0;
    width: 2%;
}
.list-space .input input::-webkit-outer-spin-button,
.list-space .input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.list-space .input input{
    background-color:#D2D2D2;
}
ul.history-list-items > li .item-wrapper {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
}
.call-history ul.history-list-items > li {
	padding: 0.9rem 0;
	display: flex;
    justify-content: space-between;
}
ul.history-list-items > li:last-child .item-wrapper {
	border-bottom: 0;
}
ul.history-list-items li .item-left {
	display: flex;
    align-items: center;
}
ul.history-list-items li .item-left img{
	margin-right: 2rem;
}
ul.history-list-items li .item-left ul.list-space li {
	margin: 0;
	padding: 0;
}
ul.history-list-items li .item-right {
	display: flex;
}
.call-history ul.history-list-items li .item-right {
	display: flex;
	flex-direction: column;
}
.call-history ul.history-list-items li .item-right .time {
	padding-right: 0;
}
ul.history-list-items li .item-right img:first-child { 
	margin-right: 2rem;
}
ul.history-list-items li .item-left .progress {
	margin: 0;
	margin-right: 1rem;
}
ul.history-list-items li .item-left ul.list-space li {
	margin: 0.3rem 0;
}
.history-list-items.active {
	display: block;
}
.history-list-items.hidden {
	display: none;
}
ul.history-list-items li.item.active {
    border-left: 5px solid #007bff;
    transition-duration: 0.5s;
}
.charge-history .m-card {
	padding-left: 0;
    padding-right: 0;
}
.charge-history .m-card .title {
	padding-left: var(--card-padding-left);
}
.charge-history .m-card .item-wrapper {
	margin-left: var(--card-padding-left);
    margin-right: var(--card-padding-right);
}
.digit-group {
	display: flex;
	justify-content: center;
}
.digit-group input {
	width: 2rem;
	height: 2rem;
	background: url('../source/image/i_digit_number.svg');
	border: none;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 2px;
	margin-right: 1rem;
}
.digit-group input:active, .digit-group input:focus {
	border: 1px solid var(--blue);
	outline: none;
	border-radius: 0.3rem;
}
.digit-group input:last-child {
	margin-right: 0;
}
.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}
#dialog-message {
	background-color: var(--white);
	border: 1px solid #E0E0E0;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
	border-radius: 0.5rem;
}
#modalOTP .modal-body{
	margin: 0 1rem;
	text-align: center;
}
#modalOTP .modal-body h3.title {
	font-size: 1.25rem !important;
    line-height: 2.375rem;
}
#modalOTP .modal-body p {
	margin-top: 1.5rem !important;
    line-height: 1.5rem;
}
#modalOTP .modal-body form.digit-group {
    margin-top: 1.5rem;
}
#modalOTP .modal-body .text-note-right {
	margin-top: 1.5rem;
	text-decoration: underline;
	color: var(--blue);
}
.connect-content .body-content .give-list-items {
	background-color: var(--white);
	border: 1px solid #E0E0E0;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
	border-radius: 0.5rem;
	padding-top: var(--card-padding-top);
	padding-bottom: var(--card-padding-bottom);
	padding-left: var(--card-padding-left);
	padding-right: var(--card-padding-right);
}
.connect-content .body-content .give-list-items li:first-child {
	border-top: none;
	padding-top: 0;
}
.connect-content .body-content .menu-list-items {
	display: flex;
	overflow-x: auto;
	margin-bottom: 0;
}
.connect-content .body-content .menu-list-items li{
	width: auto;
	cursor: pointer;
}
.connect-content .body-content .menu-item__thumb {
	margin: 0 1rem;
}
.connect-content .body-content .menu-list-items::-webkit-scrollbar {
	width: 0;
}
.connect-content {
	margin-top: 1rem;
}
.give-list-items.hidden {
	display: none;
}
@media screen and (min-width: 768px){ 
	ul.list-items {
		padding-left: 3rem;
	}
	.user-info-content.user-info-list-items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: var(--card-column-gap);
	}
	.user-info-content.user-info-list-items .account-balance {
		grid-column-start: 2;
		grid-column-end: 4;
		position: relative;
	}
	.user-info-content-left .pack-items {
		display: flex;
		flex-direction: column;
	}
	.account-balance-more {
		display: flex;
		position: absolute;
		bottom: 1.5rem;
		justify-content: center;
		width: 100%;
	}
	.account-balance-more .btn-bg-white-fit {
		margin: 0 1rem;
	}
	.user-info-content.using-pack {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: var(--card-column-gap);
	}
	.using-pack-data-info {
		flex-direction: column;
	}
	.pack-items .is-desktop {
		display: none;
	}
	.pack-items .value {
		color: var(--blue);
	}
	.pack-items .pack-item-price {
		color: var(--blue);
	}
	.pack-items {
		margin: 0;
		margin-top: 1.375rem;
	}
	.pack-items .pack-item {
		font-size: 14px;
	}
	.progress {
		margin: auto;
	}
	.progress .is-desktop {
		display: block;
	}
	.user-info-content .content-header h2 {
		margin-right: 0 !important;
	}
	.using-pack-data .btn-border, .using-pack-charge-content .btn-border{
		background-color: var(--blue);
		position: relative;
		top: 0;
		right: 0;
	    padding: 0.5rem 3.625rem;
	    color: white;
	    width: fit-content;
	    display: block;
	    margin: auto;
	    cursor: pointer;
	    border-radius: 0.5rem;
	    margin-top: 1.5rem;
	}
	.using-pack-charge-content .pack-items li {
		margin-left: 0;
	}
	.user-info-content.using-pack .m-card {
		height: 27rem;
	}
	.other-mymobifone .content-body {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.other-mymobifone .m-card.customer .customer-content {
	    bottom: -1.25rem;
	}
	.user-info-content .m-card.using-pack.service-pack .using-pack__img {
    	max-width: 16.625rem;
	}
	.user-post-paid-info-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: var(--card-column-gap);
	}
	.user-post-paid-info-content .info-right {
		margin-top: 0;
	}
	.m-card.check {
	    margin-top: 1rem;
	}
	.update-infomation-body {
		background-color: white;
		padding-top: var(--card-padding-top);
		padding-bottom: var(--card-padding-bottom);
		padding-left: var(--card-padding-left);
		padding-right: var(--card-padding-right);
		background-color: var(--white);
		border: 1px solid #E0E0E0;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
		border-radius: 0.5rem;
	}
	.update-infomation-body .inpupt-box{
		margin-bottom: ;
	}
	.other-mymobifone .m-card.customer {
	    padding-bottom: 1.5rem;
	}
	.user-post-paid-info-content .m-card.user-post-paid-info a.btn-bg-white-fit {
		margin-top: 0;
		margin-bottom: 0;
	}
	.gift-header .m-card .gift-header__top-left img, .gift-header--no-available img {
		width: 7.5rem;
		margin-right: 1.5rem;	
	}
	.gift-header__top-left {
		border-bottom: none;
		padding-bottom: 0;
	}
	.gift-header .m-card .gift-header__top {
		display: flex;
		flex-direction: row;
	}
	.gift-header .m-card { 
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.gift-header .line {
		border-bottom: 1px solid #E0E0E0;
	}
	.gift-content .m-card {
		border-radius: 0 0 1.5rem 1.5rem;
	    margin-top: -1px;
	    border-top: 0;
	}
	.gift-header--no-available {
		padding-top: 0;
		margin-left: auto;
    	max-width: 55%;
	}
	.gift-header--no-available p {
		display: flex;
    	align-items: center;
    	font-style: italic;
    	color: red;
	}
	.gift-header .gift-header__top-email {
		flex-direction: row;
		margin: auto;
		margin-top: 1rem;
	}
	.gift-header .gift-header__top-email .input-box select {
		width: 26rem;
	}
	.gift-header .gift-header__top-email a {
		margin: 0;
		margin-left: 2.875rem;
	}
	.change-point .m-card.top-content{
		display: flex;
		align-items: center;
    	justify-content: space-between;
	}
	.change-point .m-card p {
		line-height: 1.8rem;
	}
	.change-point .m-card ul.list-items {
		margin: 0;
		padding: 0;
		border-top: 0;
	}
	.change-point .m-card .point.is-desktop {
		display: block;
	}
	.change-point .grid-two-column {
		margin-top: 1rem;
	}
	.change-point .grid-two-column ul.list-space li {
		padding: 1.75rem 0;
	}
	.list-space .input .count {
		margin: 0 1.5rem;
	}
	ul.history-list-items li .item-left .progress {
		margin: 0;
		margin-right: 2.25rem;
	}
	.grid-two-column > div .m-card {
		height: 100%;
	}
	ul.menu-list-items li .menu-item__thumb {
		width: 5rem;
		height: 5rem;
	}
	ul.menu-list-items li .menu-item__thumb img {
		width: 2rem;
	    height: inherit;
	    margin: auto;
	}
	.connect-content .body-content {
		background-color: var(--white);
		border: 1px solid #E0E0E0;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
		border-radius: 0.5rem;
		padding-top: var(--card-padding-top);
		padding-bottom: var(--card-padding-bottom);
		padding-left: var(--card-padding-left);
		padding-right: var(--card-padding-right);
	}
	.connect-content .body-content .give-list-items {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.connect-content .body-content .menu-list-items {
		margin-bottom: 1rem;
	}
	.connect-content .body-content .menu-list-items li{
		width: 12.5%;
	}
	.connect-content .body-content .menu-list-items li p {
		margin: 0 1rem;
		padding: 0.75rem;
	}
	.connect-content .body-content .give-list-items li:first-child {
		border-top: none;
		padding-top: 0;
	}
	.connect-content .body-content .give-list-items > li:first-child {
		border-top: 1px solid #E0E0E0;
		padding-top: 1rem;
	}
}
@media screen and (min-width: 992px){  
	.other-mymobifone .m-card.customer {
	    padding-bottom: 2.5rem;
	}
	.user-info-content .m-card.using-pack.service-pack .using-pack__img {
    	max-width: 20.625rem;
	}
	.m-card.check {
	    margin-top: 2rem;
	}
	.user-post-paid-info-content .m-card.user-post-paid-info a.btn-bg-white-fit {
		position: absolute;
		right: 2.375rem;
		top: 2.875rem;
	}
	.connect-content .body-content { 
		border-radius: 1.125rem;
	}
}